{% extends 'bootstrap_3_layout.html.twig' %}
{% block money_widget -%}
    <div class="input-group">
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' money-type')|trim}) -%}
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">€</span>
    </div>
{%- endblock money_widget %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block appbundle_pedidosproductos_widget %}
    <tr>
        <td>{{ form_widget(form.producto) }}</td>
        <td>{{ form_widget(form.importe) }}</td>
        <td><a href="#" class="delete-producto btn btn-danger">X</a></td>
    </tr>
{%- endblock appbundle_pedidosproductos_widget %}
