{% extends 'bootstrap_3_layout.html.twig' %}
{% block money_widget -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">€</span>
    </div>
{%- endblock money_widget %}
