{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cierre de caja {% if diario.fecha %}{{ diario.fecha|date('d/m/Y') }}{% endif %}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Inicial</th>
                <th>Colectivo</th>
            </tr>
            <tr>
                <td>{{ diario.inicial }} €</td>
                <td>{{ diario.colectivo }}</td>
            </tr>
        </tbody>
    </table>
    <h3><a href="{{ path('diario_close', {'id': diario.id }) }}">Nuevo cierre de caja</a></h3>
{% endblock %}
